.loading-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
 
  }

  /* Each square */
  .square {
    width: 20px;
    height: 20px;
    background-color: white;
    animation: colorChange 1.5s linear infinite;
  }

  /* Delaying each square's animation */
  .square:nth-child(1) {
    animation-delay: 0s;
  }
  .square:nth-child(2) {
    animation-delay: 0.3s;
  }
  .square:nth-child(3) {
    animation-delay: 0.6s;
  }
  .square:nth-child(4) {
    animation-delay: 0.9s;
  }
  .square:nth-child(5) {
    animation-delay: 1.2s;
  }

  @keyframes colorChange {
    0%, 100% {
      background-color: white;
    }
    50% {
      background-color: black;
    }
  }